@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.montserrat {
	font-family: "Montserrat", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

:root {
	--font-body: Montserrat, sans-serif;
	font-family: var(--font-body);
	overflow-wrap: break-word;
	word-break: break-word;
}

h1,
h2 {
	text-transform: uppercase;
	text-align: center;
	font-weight: 400;
}

button,
a {
	cursor: pointer;
}

body {
	line-height: 25.6px;
	min-height: 100dvh;
	width: 100%;
	margin: 0px;
}

p {
	font-weight: 400;
}

section {
	& h2 {
		padding-top: 0px;
		font-size: 1.75rem;
		line-height: 1.2em;
	}
	&.video button,
	&.image button,
	&#donation-confirmation button {
		text-shadow: 0 0 0.6em rgb(var(--shadow-color));
		& > svg {
			filter: drop-shadow(0 0 0.4em rgb(var(--shadow-color)));
		}
	}
	&#music button {
		text-shadow:
			0 0 0.6em rgb(var(--shadow-color)),
			0 0 0.6em rgb(var(--shadow-color));
	}
}

button {
	& > svg {
		width: auto;
		/* aspect-ratio: 200 / 60; */
		height: 1.5em;
		vertical-align: middle; /* This can be removed with flexbox */
		transform: translate(0, -1px);
		padding-left: 0.8em;
		transition: height 0.3s;
	}
	&:hover {
		background-color: rgba(var(--text-color), 0.15);
		& > svg {
			height: 1.8em;
		}
	}
}

a {
	font-weight: 700;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

.light a,
a.dark-override {
	color: rgb(106, 91, 213);
}

.dark a,
a.light-override {
	color: rgb(151, 151, 255);
}
.scrolled label.desktop-switcher .toggle-thumb > .backdrop {
	background-color: rgba(var(--background), 0);
}

@media (max-width: 600px) {
	.scrolled label {
		&.desktop-switcher {
			display: none;
		}
		&.mobile-switcher {
			display: block;
		}
	}
}

@media (max-width: 480px) {
	/* Styles for mobile devices */
	/* :root {
		font-size: 22px;
	} */
}
@media (max-width: 320px) {
	/* Styles for mobile devices */
	/* :root {
		font-size: 20px;
	} */
}
